<!DOCTYPE html>
<html ng-app="NgModelModule">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="webjars/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="webjars/angularjs/1.5.8/angular-route.min.js"></script>
<script type="text/javascript" src="myJs/app.js"></script>
<style>
.name.ng-invalid-minlength {
background-color: green;
}
.surname.ng-invalid-required {
background-color: red;
}
.birthday.ng-invalid-date {
background-color: lightpink;
}
</style>
</head>
<body ng-controller="NgModelCtrl as ctrl">

	<input type="text" ng-model="ctrl.variable"/>
	You typed {{ctrl.variable}}
	
	<form ng-submit="ctrl.submit()" name="userForm">
		<input type="text" class="name" ng-model="ctrl.user.name" ng-minlength="3" />
		<input type="text" class="surname" ng-model="ctrl.user.surname" required/>
		<input type="date" class="birthday" ng-model="ctrl.user.birthday" />
		<input type="submit" value="Submit" ng-disabled="userForm.$invalid || userForm.$pristine" />
	</form>
	
	<div>
		<ul>
			<li ng-repeat="item in ctrl.list">
				<div ng-include='ctrl.itemTemplate'></div>
			</li>
		</ul>
		
		<button ng-click="ctrl.addItem()">
			Add More Items
		</button>
	</div>
	
	<ul>
		<li><a href="#/">Default Route</a></li>
		<li><a href="#/second">Second Route</a></li>
		<li><a href="#/asdasdasd">Nonexistent Route</a></li>
	</ul>
	
	<div ng-view></div>

</body>
</html>